body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 15% ;
    border-radius: 20px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: #333;
    margin-bottom: 5px;
}

input,select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 20px;
}
#botao{text-align: center;}

button:hover {
    background-color: #0056b3;
}

.btnProxima {
    background-color: #4CAF50;
}

.btnProxima:hover {
    background-color: #3e8e41;
}

.btn-salvar{
    display: none;
}

