body {
    font-family: Arial, sans-serif;
    background-image: url("img/gif-background.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #242323;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10vh;
    border-radius: 20px;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color:  #ffffff;
    margin-bottom: 5px;
}

input,
select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
    background-color:   #ffffff;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #000000;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 20px;
}

#botao {
    text-align: center;
}

button:hover {
    background-color: #0056b3;
}

.btnProxima {
    background-color: #4CAF50;
}

.btnProxima:hover {
    background-color: #3e8e41;
}

#btn-salvar {
    display: none;
}

/* Barra de Progresso */
.barra-de-progresso-container {
    width: 100%;
    background-color: #f0f0f0;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    transform: width 0.5s ease;
}

.barra-progresso {
    width: 0;
    height: 100%;
    background-color: green;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 10px;
    transition: all 0.5s ease;
   
} 

/* .progress-bar {
    height: 100%;
    width: 0;
    background-color: green;
    border-radius: 10px;
    transition: width 0.5s ease; 
  } */

/* aaa */
