#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 300px;
  margin: 0 auto; /* Adicionado para centralizar horizontalmente */
  margin-top: 20px;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  cursor: pointer;
}

button {
  margin-top: 20px;
}
